{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8" />
        <title>Dashboard</title>
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
        />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    </head>

    <body>
        <center class="row" style="padding-bottom: 20px">
            <img
                src="{% static 'CIT.jpeg' %}"
                style="float: left; height: 75px; margin-left: 40px"
            />
            <img
                src="{% static 'IEE.png' %}"
                style="float: right; height: 75px; margin-right: 40px"
            />
            <h1><b>Dasbor Pabrik Smart Farm</b></h1>
            <h2>UAS IEE3032 - Daniel Wiratman 202000205</h2>
        </center>
        <div style="padding: 1px">
            <center>
                <h3>
                    Voltase Pompa Air:
                    <span id="voltase-pompa-air"></span> V
                </h3>
                <div class="row" style="display: flex; justify-content: center">
                    <div
                        class="col-md-3"
                        style="
                            border-radius: 10px;
                            box-shadow: 0 0 10px gainsboro;
                        "
                    >
                        <canvas id="voltase-pompa-air-chart"></canvas>
                    </div>
                </div>
            </center>
            <div
                class="row"
                style="
                    border-radius: 10px;
                    margin: 10px;
                    box-shadow: 0 0 10px gainsboro;
                "
            >
                <div class="col-md-4">
                    <h3>Suhu: <span id="suhu"></span> &deg;C</h3>
                    <canvas id="suhu-chart"></canvas>
                </div>
                <div class="col-md-4">
                    <h3>Kelembaban: <span id="kelembaban"></span>%</h3>
                    <canvas id="kelembaban-chart"></canvas>
                </div>
                <div class="col-md-4">
                    <h3>Cahaya: <span id="cahaya"></span> lux</h3>
                    <canvas id="cahaya-chart"></canvas>
                </div>
            </div>
        </div>
        <center>
            <table id="content-table">
                <tr>
                    <th>Waktu</th>
                    <th>Suhu</th>
                    <th>Kelembaban</th>
                    <th>Cahaya</th>
                    <th>Voltase Pompa Air</th>
                </tr>
            </table>
        </center>
    </body>

    <script>
        function initializeGraph(chart_var, endpoint, id, color) {
            $.ajax({
                method: "GET",
                url: endpoint,
                success: function (data) {
                    drawLineGraph(chart_var, data, id, color);
                },
                error: function (error_data) {
                    console.log(error_data);
                },
            });
        }

        function drawLineGraph(chart_var, data, id, color) {
            var labels = data.time_data;
            var chartLabel = data.chart_label;
            var chartdata = data.chart_data;
            var ctx = document.getElementById(id).getContext("2d");
            window[chart_var] = new Chart(ctx, {
                // The type of chart we want to create
                type: "line",

                // The data for our dataset
                data: {
                    labels: labels,
                    datasets: [
                        {
                            label: chartLabel,
                            backgroundColor: "rgb(255, 100, 200, 0)",
                            borderColor: color,
                            data: chartdata,
                        },
                    ],
                },

                // Configuration options go here
                options: {
                    elements: {
                        line: {
                            tension: 0,
                        },
                    },
                    scales: {
                        xAxes: [
                            {
                                display: true,
                            },
                        ],
                        yAxes: [
                            {
                                ticks: {
                                    // suggestedMin: 30,
                                    // suggestedMax: 150,
                                },
                            },
                        ],
                    },
                },
            });
        }

        function updateGraph(chart_var, endpoint) {
            $.ajax({
                method: "GET",
                url: endpoint,
                success: function (data) {
                    window[chart_var].data.labels = data.time_data;
                    window[chart_var].data.datasets[0].data = data.chart_data;
                    window[chart_var].update();
                },
                error: function (error_data) {
                    console.log(error_data);
                },
            });
        }

        function updateSensorValue(endpoint, id) {
            $.ajax({
                method: "GET",
                url: endpoint,
                success: function (data) {
                    var value = document.getElementById(id);
                    data.value = parseFloat(data.value).toFixed(2);
                    value.innerHTML = data.value;
                },
                error: function (error_data) {
                    console.log(error_data);
                },
            });
        }

        function updateActuatorState(endpoint, id) {
            $.ajax({
                method: "GET",
                url: endpoint,
                success: function (data) {
                    var state = document.getElementById(id);
                    data.state = parseFloat(data.state) > 0 ? data.state : 0;
                    state.innerHTML = data.state;
                },
                error: function (error_data) {
                    console.log(error_data);
                },
            });
        }

        TABLE_DATA = [];

        function updateTable() {
            $.ajax({
                method: "GET",
                url: "/sensor/suhu",
                success: function (data) {
                    TABLE_DATA[0] = data.chart_data.reverse();
                    TABLE_DATA[4] = data.time_data.reverse()
                },
            });
            $.ajax({
                method: "GET",
                url: "/sensor/kelembaban",
                success: function (data) {
                    TABLE_DATA[1] = data.chart_data.reverse();
                },
            });
            $.ajax({
                method: "GET",
                url: "/sensor/cahaya",
                success: function (data) {
                    TABLE_DATA[2] = data.chart_data.reverse();
                },
            });
            $.ajax({
                method: "GET",
                url: "/actuator/voltase_pompa_air",
                success: function (data) {
                    TABLE_DATA[3] = data.chart_data.reverse();
                },
            });
            if (TABLE_DATA.length < 5) {
                return;
            }
            document.getElementById("content-table").innerHTML = `<tr>
                <th>Waktu</th>
                <th>Suhu</th>
                <th>Kelembaban</th>
                <th>Cahaya</th>
                <th>Voltase Pompa Air</th>
            </tr>`;
            for (let i = 0; i < 10; i++) {
                document.getElementById("content-table").innerHTML += `<tr>
                    <td>${TABLE_DATA[4][i]}</td>
                    <td>${parseFloat(TABLE_DATA[0][i]).toFixed(2)}&deg;C</td>
                    <td>${parseFloat(TABLE_DATA[1][i]).toFixed(2)}%</td>
                    <td>${parseFloat(TABLE_DATA[2][i]).toFixed(2)} lux</td>
                    <td>${parseInt(TABLE_DATA[3][i]) > 0 ? parseInt(TABLE_DATA[3][i]).toFixed(2) : 0} V</td>
                </tr>`;
            }
            TABLE_DATA = [];
        }

        var voltase_pompa_air_graph;
        var suhu_graph;
        var kelembaban_graph;
        var cahaya_graph;

        initializeGraph(
            "voltase_pompa_air_graph",
            "/actuator/voltase_pompa_air",
            "voltase-pompa-air-chart",
            "rgb(139, 24, 116)"
        );
        initializeGraph(
            "suhu_graph",
            "/sensor/suhu",
            "suhu-chart",
            "rgb(183, 19, 117)"
        );
        initializeGraph(
            "kelembaban_graph",
            "/sensor/kelembaban",
            "kelembaban-chart",
            "rgb(252, 79, 0)"
        );
        initializeGraph(
            "cahaya_graph",
            "/sensor/cahaya",
            "cahaya-chart",
            "rgb(247, 149, 64)"
        );

        setInterval(function () {
            updateSensorValue("/sensor/suhu", "suhu");
            updateSensorValue("/sensor/kelembaban", "kelembaban");
            updateSensorValue("/sensor/cahaya", "cahaya");
            updateActuatorState(
                "/actuator/voltase_pompa_air",
                "voltase-pompa-air"
            );

            updateGraph("suhu_graph", "/sensor/suhu");
            updateGraph("kelembaban_graph", "/sensor/kelembaban");
            updateGraph("cahaya_graph", "/sensor/cahaya");
            updateGraph(
                "voltase_pompa_air_graph",
                "/actuator/voltase_pompa_air"
            );
            updateTable();
        }, 2000);

        function transpose(matrix) {
            const result = matrix[0].map((col, i) =>
                matrix.map((row, j) => row[i])
            );
            return result;
        }
    </script>
    <style>
        body {
            margin: 60px 20px;
        }
        .containers {
            padding: 20px;
        }
        h3 {
            text-align: center;
        }
        th, td {
            border: 1px solid black;
            padding: 10px;
            text-align: center;
        }
        table {
            border-collapse: collapse;
            font-size: 20px;
        }
    </style>
</html>
